// Colors
$primary-color: #1e2b3c;
$caption-text-color: #9eabbe;
$accent-color: #fc7b31;
$success-color: #50b83d;

// Dimensions
$sidenav-width: 300px;
$header-height: 100px;

// Screen resolutions
$small-laptop: 1366px;
$tablet-landscape: 1024px;
$tablet-portrait: 720px;
$mobile-portrait: 480px;

